<div class="container-fluid bg-dark">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold fs-2">
      Reservas | Grupo O
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
      <li><a href="/espacos" class="nav-link px-2 text-white">Espaços</a></li>
      <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
    </ul>

    <div class="text-end">
      <a href="/signup" type="button" class="btn btn-outline-light me-2">Cadastre-se</a>
      <a href="/login" type="button" class="btn btn-warning">Login</a>
    </div>
</header>
</div>