<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
      <div class="row py-md-5 text-center justify-content-center">
  
        <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
          <h1 class="display-2 fw-bold mb-4 position-relative home-title">
            Página não encontrada.
          </h1>
  
<<<<<<< HEAD
          <a href="/espacos" class="btn btn-primary btn-lg">Dê uma olhada nos nossos espaços.</a>
=======
          <a href="/" class="btn btn-primary btn-lg">Dê uma olhada nos nossos espaços.</a>
>>>>>>> 91f3ddd5ae7d750f4fb0f33f07a56fd7b622ff59
        </div>
  
      </div>
    </main>
  </div>