<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Nós temos o espaço perfeito para o seu evento.
        </h1>
        <p class="fs-4 mb-4">
          Faça o seu cadastro e reserve hoje mesmo.
        </p>
<<<<<<< HEAD
        <a href="/register" class="btn btn-light btn-lg">Cadastre-se</a>
=======
        <a href="/signup" class="btn btn-light btn-lg">Cadastre-se</a>
>>>>>>> 91f3ddd5ae7d750f4fb0f33f07a56fd7b622ff59
        <a href="/login" class="btn btn-dark btn-lg">Login</a>
      </div>

    </div>
  </main>
</div>